html, body { -webkit-text-size-adjust: none; }

body {
  max-width: 38em;
  margin: auto;
  padding: 1em;
}

h1 {
  text-align: center;
}

pre, code {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Menlo", "Courier", monospace;
}

pre {
  padding: 1em;
  background-color: #f0f0f0;
}

code {
  padding: 1pt;
  font-size: 0.8em;
}

hr {
  margin-bottom: 4em;
}

.figure {
  text-align: center;
}

.figure img {
  max-width: 80%;
}

.caption {
  font-style: italic;
  font-size: 0.9em;
}
