/* --------------- old code 
HTML { 
	background:  #ffffff; 
	color: 	     #000000;
	font-family: Times, Times New Roman, serif;
	font-size:   10pt;
} 
BODY { 
	width: 	    6.5in; 
	margin-left: 0.5in
} 
H1 {
	font-size:   36pt;
	text-align:  center;
}
H2 {
	font-size:   10pt;
	text-align:  center;
}
H3 {
	font-size:   12pt;
	text-align:  left;
}
H4 {
	font-size:   10pt;
	text-align:  left;
}
H5 {
	font-size:   8pt;
	text-align:  left;
}
H6 {
	font-size:   8pt;
	text-align:  left;
}
PRE { 
   font-size:   8pt;
	text-align:  left;
}

--------------- end old code */

HTML { 
	background:  #ffffff; 
	color: 	     #000000;
	font-size:   10pt; /* this is because there are many <p> missing. We can change this value to 7pt to easy detect missing <p> */
	line-height: 1.6;
} 
BODY { 
	width: 	    6.5in; 
	margin-left: 0.5in;
	font-family: Verdana, Geneva, sans-serif;
	} 
H1 {
	font-size:   30pt;
	text-align:  center;
}
H2 {
	font-size:   20pt;
	text-align:  center;
}
H3 {
	font-size:   12pt;
	text-align:  left;
}
H4 {
	font-size:   10pt;
	text-align:  left;
}
H5 {
	font-size:   8pt;
	text-align:  left;
}
H6 {
	font-size:   8pt;
	text-align:  left;
}
PRE { 
   font-size: 100%;
   background-color:rgb(240, 240, 240);
   text-align:  left;
}

ol{
	font-size:   10.5pt;
	text-align:  left;
	line-height: 1.6;
	}


p{
	font-size:   10pt;
	text-align:  left;
	line-height: 1.6;
}

a:link {
    text-decoration: underline;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: underline;
	/*color: grey;*/
	color: black;
	background-color:rgb(238, 238, 228);
}

a:active {
    text-decoration: underline;
	color: black;
}

IMG {
 
    display: block;
    margin: 0 auto;
}