

@charset "utf-8";


:root {
  font-weight: 400;
}

BODY { 
	background:  #ffffff;;
	color: 	     #000000;
	font-family: Georgia, serif;  /*Georgia, serif; */ /*Helevetica, sans-serif;*/
	font-size:   12.7pt; /* this is because there were many <p> missing. We can change this value to 7pt to easily detect missing <p> */
	line-height: 1.6;

	}
	
#corpus { 

	width: 	    6.5in; 
	margin-left: 0.8in;
	}
	
H1 {
	font-size:   32.7pt;
	text-align:  center;
	font-weight: normal;
	
	
}
H2 {
	font-size:   22.7pt;
	text-align:  center;
	font-weight: normal;
	
}
H3 {
	font-size:   14.7pt;
	text-align:  left;
	
}
H4 {
	font-size:   12.7pt;
	text-align:  left;
	
}
H5 {
	font-size:   10.7pt;
	text-align:  left;
	
}
H6 {
	font-size:   10.7pt;
	text-align:  left;
	
}

H1, H2, H3, H4, H5, H6, ol, ul, mark, PRE { 
color: #3E4349;
 
}

PRE { 
   font-size: 80%;
   background-color:#f0f0f0;
   text-align:  left;
   border-radius: 8px;
   padding: 8px;
   font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

table, td, th {
  border: 1px solid black;
  color: #3E4349;
  font-size: 12.7pt;
  padding: 6px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f0f0f0;}

CODE { 
   background-color:#f0f0f0;
   font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

ol {
	font-size:   14.5pt;
	text-align:  left;
	line-height: 1.6;
	}


P {
	font-size:   12.7pt;
	text-align:  left;
	line-height: 1.6;
	color: #3E4349;
	line-height: 1.4em;
}

ul {
	font-size:   12.7pt;
	text-align:  left;
	line-height: 1.6;
	color: #3E4349;
	line-height: 1.4em;
}


/* standard link */

a:link {
    text-decoration: none;
	color: #006699;
}

a:visited {
    text-decoration: none;
	color: #006699;
}

a:hover {

	background-color:#eeeee4;
}

a:active {
    text-decoration: none;
	color: blue;
}


/* green link (like a button) */

a.green:link {
	font-family:sans-serif;
	background-color: #4CAF50; /* Green */
    border-radius: 4px;
    color: white;
    padding: 0px 8px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
	
}

a.green:hover {
    text-decoration: none;
	background-color: #4CAF50;	
}

a.green:visited {
	color: white;
}


/* button like a link */

.btn-toggle-theme, .btn-toggle-font {
  background-color: transparent;
  border: none;
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/* standard images */

IMG {
 
    display: block;
    margin: 0 auto;
	width: auto;
	filter: brightness(1) contrast(1);

}

mark {
background-color: #fff0b3;
}

p.fig {
text-align: center;
}

div.butt {
  position: fixed;
  top: 0;
  left: 0;
}

blockquote {  
  padding: 0;
  margin-right:0px;
}

blockquote p {
  text-align: right;
}


/* responsive css for small "devices" */

@media screen and (max-device-width: 700px) {
    #corpus {
    padding: 10px;    
	width: 	    auto; 
	margin-left: 6px;
    }
	H1 {font-size:   25pt;}
	IMG {max-width: 100%;}
}

/* responsive css for small "browser window" */

@media screen and (max-width: 700px) {
    #corpus {
    padding: 10px;    
	width: 	    auto; 
	margin-left: 6px;	
    }
	H1 {font-size:   25pt;}
	IMG {max-width: 100%;}
}
