/* --------------- old code 
HTML { 
	background:  #ffffff; 
	color: 	     #000000;
	font-family: Times, Times New Roman, serif;
	font-size:   10pt;
} 
BODY { 
	width: 	    6.5in; 
	margin-left: 0.5in
} 
H1 {
	font-size:   36pt;
	text-align:  center;
}
H2 {
	font-size:   10pt;
	text-align:  center;
}
H3 {
	font-size:   12pt;
	text-align:  left;
}
H4 {
	font-size:   10pt;
	text-align:  left;
}
H5 {
	font-size:   8pt;
	text-align:  left;
}
H6 {
	font-size:   8pt;
	text-align:  left;
}
PRE { 
   font-size:   8pt;
	text-align:  left;
}

--------------- end old code */

HTML { 
	background:  #ffffff; 
	color: 	     #000000;
	font-size:   12.7pt; /* this is because there were many <p> missing. We can change this value to 7pt to easily detect missing <p> */
	line-height: 1.6;
} 
BODY { 
	width: 	    6.5in; 
	margin-left: 0.8in;
	font-family: Times, Times New Roman, serif;
	} 
H1 {
	font-size:   32.7pt;
	text-align:  center;
}
H2 {
	font-size:   22.7pt;
	text-align:  center;
}
H3 {
	font-size:   14.7pt;
	text-align:  left;
}
H4 {
	font-size:   12.7pt;
	text-align:  left;
}
H5 {
	font-size:   10.7pt;
	text-align:  left;
}
H6 {
	font-size:   10.7pt;
	text-align:  left;
}
PRE { 
   font-size: 80%;
   background-color:rgb(240, 240, 240);
   text-align:  left;
}

ol{
	font-size:   14.5pt;
	text-align:  left;
	line-height: 1.6;
	}


p{
	font-size:   12.7pt;
	text-align:  left;
	line-height: 1.6;
}

a:link {
    text-decoration: underline;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: underline;
	/*color: grey;*/
	color: black;
	background-color:rgb(238, 238, 228);
}

a:active {
    text-decoration: underline;
	color: black;
}

IMG {
 
    display: block;
    margin: 0 auto;
}


/* responsive css for small "devices" */

@media screen and (max-device-width: 700px) {
    body {
    padding: 10px;    
	width: 	    auto; 
	margin-left: 6px;		
    }
}

/* responsive css for small "browser window" */

@media screen and (max-width: 701px) {
    body {
    padding: 10px;    
	width: 	    auto; 
	margin-left: 6px;		
    }
}
