[Desktop Entry]
Name=Pure Data
Exec=pd-gui
Categories=Audio;Multimedia;
Keywords=pd;puredata;
Comment=Dataflow and DSP Programming Environment
MimeType=text/x-puredata;
GenericName=Dataflow IDE
NoDisplay=false
Type=Application
Terminal=false
Icon=puredata
